/* --- HTML tags --- */
body{
    margin: 0;
    font-size: 1.5rem;
    font-family: Helvetica, sans-serif;
    background: rgba(200, 200, 200, 0.3);
    background-image: url("../Images/Backgrounds/bgBig.jpg");
    background-repeat: no-repeat;   
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

header{
    background: rgb(5, 185, 5);
    background-image: url("../Images/Headers/woodBig.jpg");
    background-repeat: no-repeat;   
    background-position: center;
    background-size: cover;
    padding: 1%;
    height: 8em;
    margin: 0;
}

nav{
    height: 49%;
    text-align: center;
}

footer{
    background: rgb(5, 185, 5);
    color: rgba(54, 40, 0, 0.95);
    text-align: center;
    padding: 0.5%;
    clear: both;
}

a{
    text-decoration: none;
    color: rgb(100, 100, 255);
}

nav a{
    color: rgba(255, 255 ,255, 1);
}

img{
    width: 90%;
    height: 90%;
}

meta{
    display: none;
}
/* --- HTML tags --- */


/* --- Buttons --- */
button{ 
    background: rgb(5, 155, 5);
    color: white;
    border: none;    
    margin: 0;
    padding: 2%;  
    font-size: 1.2vw;
}

button:hover{
    background: #ff7b00;
    color: rgb(54, 40, 0); 
}

/*Submit&Reset buttons colors, border and sizes*/
input[type="submit"], input[type="reset"]{
    background: rgb(5, 155, 5);
    color: white;
    border: none;    
    margin: 0;
    padding: 2%;  
    font-size: 1.2vw;
    width: 6em;
    height: auto;
}
/*Submit button hover colors and text decorations*/
input[type="submit"]:hover{
    background: #ff7b00;
    color: rgb(54, 40, 0); 
    font-weight: bold;
    text-shadow: 0 0 2px white;
}
/*Reset button hover colors and text decorations*/
input[type="reset"]:hover{
    background: rgb(54, 40, 0);
    color: #ffffff;
    font-weight: bold;
    text-shadow: 0 0 10px #ff7b00;
}
/* --- Buttons --- */


/* --- Inputs --- */
input{
    border-radius: 10px;
    border: solid 1px black;
    width: 18vw;
    height: 2vw;
    font-size: 1.2vw;
}
/* --- Inputs --- */


/* --- Navigation Bar Buttons --- */
.navButton, .navButton input{ 
    background: rgb(5, 155, 5);
    color: white;
    border: none;    
    margin: 0; 
    padding: 0;
    font-size: 1.2vw;
}

.navButton > input{
    width: 6rem;
    margin: 0;
    padding: 1rem;
    width: 100%;
    height: 100%;
}

.navButton:hover, .navButton:hover input{
    background: #ff7b00;
    color: rgb(54, 40, 0); 
    font-weight: bold;
}
/* --- Navigation Bar Buttons --- */


/* --- Select-option --- */
select{
    border: solid 1px black;
    border-radius: 10px;
    color: rgb(100, 100, 100);
    width: 12vw;
    height: 1.5vw;
    font-size: 1.2vw;
}

select:hover{
    color: black;
}

option{
    background: white;
}
/* --- Select-option --- */


/* --- Search bar  --- */
/*Search buttons on navbar size&shape*/
.searchButton{
    border-radius: 5px;
    padding: 0 !important;
    padding-left: 0.2em !important;
    padding-right: 0.2em !important;
    margin: 0 !important;
    height: 2em !important;
    width: auto !important;
}

/*Search input tag size*/
.searchBox{
    width: 12vw;
    height: 1.5vw;
}
/* --- Search bar  --- */


/* --- Divs  --- */
/*Main tag: centered and width adjustment*/
.main{
    text-align: center;
    width: 70%;
    margin: 0 auto;
    background:#ffffff;
}
/* --- Divs  --- */


/* --- IDs  --- */
#websiteLogo{
    border-radius: 50%;
    float: right;
    width: 10vw;
    height: 10vw;
}

#websiteName{
    text-align: center;
}

#websiteName a{
    color: rgb(5, 185, 5);
    text-shadow: 3px 3px black;
    height: 49%;
    font-size: 100%;
    margin: 0;
    margin-top: -1em;
}
/* --- IDs  --- */


/* --- Classes  --- */
.dropdownSelection{
    display: none;
    position: absolute;
    background: rgb(25, 205, 25);
}

.dropdownSelection a{
    text-decoration: none;
    color: black;
}
/* --- Classes  --- */


/* --- Breadcrumb navigation  --- */
/*Breadcrumb list w/o dot and padding adjustment*/
.breadcrumb > ul{
    list-style-type: none;
    padding-left: 5%;
}

/*Horizontal list*/
.breadcrumb > ul > li{
    display: inline;
}

/*Margin&padding adjustments*/
.breadcrumb{
    margin: 0;
    margin-bottom: 0.5em; 
    padding: 0;
    padding-top: 0.8em;
}
/* --- Breadcrumb navigation  --- */


/* --- Logo  --- */
/*Image size adjustments*/
#websiteLogo{
    display: block;
    max-width:200px;
    max-height:200px;
    width: auto;
    height: auto;
}
/* --- Logo  --- */


/* --- Base flexbox and grid  --- */
.flexContainer{
  display: flex;
  align-items: stretch;
}

.gridContainer{
    display: grid;
}

/*Navigation bar 5 button grid layout*/
nav.gridContainer{
    grid-template-columns: auto auto auto auto auto;
}

/*header 3 segment flexbox: first, last*/
.headerFlexItemLogo, .headerFlexItemSearch{
    flex-grow: 2;
}

/*header 3 segment flexbox: middle*/
.headerFlexItemNav{
    flex-grow: 4;
}
/* --- Base flexbox and grid  --- */



/* ----- SCREEN SIZE BASED OPERATIONS  ----- */



/* Mobile Styles */
@media only screen and (max-width: 500px) {
    body {
        font-size: 1rem;
        /* background-image: url("../Images/Backgrounds/bgSmall.jpg"); */
        /*No need to background image because main width 100%*/
        background: #ffffff;
        max-width: 100% !important;
    }

    header{
        height: 4em;
        /*Smaller header background*/
        background-image: url("../Images/Headers/woodSmall.jpg");
    }

    .main{
        /*Use all screen space width*/
        width: 100%;
    }
    
    /*Mobile device, don't show logo and search bars*/
    .headerFlexItemLogo, .headerFlexItemSearch{
        flex-grow: 0;
        display: none;
    }

    /*For full width navbar*/
    .flexContainer{
        padding: 0;
    }

    .navButton input{
        font-size: 3vw;
        padding: 0;
    }

    .headerSiteName, nav.gridContainer{
        height: 50%;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 501px) and (max-width: 1025px) {
    body {
        font-size: 1rem;
        /* background-image: url("../Images/Backgrounds/bgSmall.jpg"); */
        /*No need to background image because main width 100%*/
        background: #ffffff;
    }

    header{
        height: 6em;  
        /*Smaller header background*/
        background-image: url("../Images/Headers/woodSmall.jpg");
    }

    .main{
        /*Use all screen space width*/
        width: 100%;
    }
}


/* Lower Res Desktop Styles - HD*/
@media only screen and (min-width: 1026px) and (max-width: 1300px) {
    body{
        font-size: 1.5rem;
        /*Medium background image*/
        background-image: url("../Images/Backgrounds/bgMedium.jpg");
    }
    header{
        /*Medium header background*/
        background-image: url("../Images/Headers/woodMedium.jpg");
    }

    .main{
        /*Little bit background image*/
        width: 90%;
    }
}

/* Desktop Styles - FullHD+*/
@media only screen and (min-width: 1301px) {
}