/* --- HTML tags --- */
body{
    margin: 0;
    font-size: 1.5rem;
    font-family: Helvetica, sans-serif;
    background: rgba(200, 200, 200, 0.3);
    background-image: url("../Images/mainBackground.jpg");
    background-repeat: no-repeat;   
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

header{
    background: rgba(5, 185, 5, 1);
    background-image: url("../Images/woodBig.jpg");
    background-repeat: no-repeat;   
    background-position: center;
    background-size: cover;
    padding: 1%;
    height: 8em;
    margin: 0;
}

header .col-3{
    height: 100%;
}

nav{
    height: 49%;
    text-align: center;
}

footer{
    background: rgba(5, 185, 5, 1);
    color: rgba(54, 40, 0, 0.95);
    text-align: center;
    padding: 0.5%;
    clear: both;
}

a{
    text-decoration: none;
    color: rgb(100, 100, 255);
}

nav a{
    color: rgba(255, 255 ,255, 1);
}

img{
    width: 90%;
    height: 90%;
}

meta{
    display: none;
}
/* --- HTML tags --- */


/* --- Buttons --- */
button{ 
    background: rgba(5, 155, 5, 0.95);
    color: white;
    border: none;    
    margin: 0;
    padding: 2%;  
    font-size: 1.2vw;
}

button:hover{
    background: #ff7b00;
    color: rgb(54, 40, 0); 
}

.submitButton{
    background: blue;
    color: white;
}
/* --- Buttons --- */


/* --- Inputs --- */
input{
    border-radius: 10px;
    border: solid 1px black;
    width: 18vw;
    height: 2vw;
    font-size: 1.2vw;
}
/* --- Inputs --- */


/* --- Navigation Bar Buttons --- */
.navButton, .navButton input{ 
    background: rgb(5, 155, 5);
    color: white;
    border: none;    
    margin: 0; 
    padding: 0;
    font-size: 1.2vw;
}

.navButton > input{
    width: 6rem;
    margin: 0;
    padding: 1rem;
    width: 100%;
    height: 100%;
}

.navButton:hover, .navButton:hover input{
    background: #ff7b00;
    color: rgb(54, 40, 0); 
    font-weight: bold;
}
/* --- Navigation Bar Buttons --- */


/* --- Select-option --- */
select{
    border: solid 1px black;
    border-radius: 10px;
    color: rgb(100, 100, 100);
    width: 12vw;
    height: 1.5vw;
    font-size: 1.2vw;
}

select:hover{
    color: black;
}

option{
    background: white;
}
/* --- Select-option --- */


/* --- Search bar  --- */
.searchButton{
    background: lightgray;
    color: black;
    border-radius: 5px;
    padding: 0;
    padding-left: 1%;
    padding-right: 1%;
    height: 1.5em;
}

.searchBox{
    width: 12vw;
    height: 1.5vw;
}
/* --- Search bar  --- */


/* --- Divs  --- */
.main{
    text-align: center;
    width: 70%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 1);
}

    /*Header Divs*/
/* #headerDropdownDiv{
    height: 50%;
    float: right;
    margin-top: 20%;
}

#headerDropdownDiv:hover .dropdownSelection {display: block;}


#headerLogoDiv{
    width: 25%;
    height: 100%;
    float: left;
}

#headerNavDiv{
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
}

#headerSearchAndDropdownDiv{
    width: 25%;
    height: 100%;
    float: left;
}

#headerSearchDiv{
    height: 50%;
    float: left;
    margin-top: 25%;
    margin-left: 10%;
} */
/* --- Divs  --- */


/* --- IDs  --- */
#userIcon{
    float: right;
    width: 3vw;
    height: 3vw;
    background: yellow;
    border: solid 0.1em black;
    border-radius: 50%;
}

#userIcon:hover{
    background: red;
}

#websiteLogo{
    border-radius: 50%;
    float: right;
    width: 10vw;
    height: 10vw;
}

#websiteName{
    text-align: center;
    color: rgba(5, 185, 5, 1);
    text-shadow: 3px 3px black;
    height: 49%;
    font-size: 2vw;
    margin: 0;
    margin-top: -1em;
}
/* --- IDs  --- */


/* --- Classes  --- */
.dropdownSelection{
    display: none;
    position: absolute;
    background: rgba(25, 205, 25, 1);
}

.dropdownSelection a{
    text-decoration: none;
    color: black;
}
/* --- Classes  --- */


/* --- Breadcrumb navigation  --- */
.breadcrumb > ul{
    list-style-type: none;
}

.breadcrumb > ul > li{
    display: inline;
}

.breadcrumb{
    margin: 0;
    margin-bottom: 0.5em; 
    padding: 0;
    padding-top: 0.8em;
}
/* --- Breadcrumb navigation  --- */


/* --- Logo  --- */
#websiteLogo{
    display: block;
    max-width:200px;
    max-height:200px;
    width: auto;
    height: auto;
}
/* --- Logo  --- */








/* Mobile Styles */
@media only screen and (max-width: 500px) {
    body {
        background-color: red;
        font-size: 1rem;
    }

    header{
        height: 4em;
        background-image: url("../Images/woodSmall.jpg");
    }

    .main{
        width: 100%;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 501px) and (max-width: 1000px) {
    body {
        background-color: blue;
        font-size: 1rem;
    }

    header{
        height: 6em;  
        background-image: url("../Images/woodSmall.jpg");
    }

    .main{
        width: 100%;
    }
}


/* Lower Res Desktop Styles */
@media only screen and (min-width: 1001px) and (max-width: 1250px) {
    body{
        font-size: 1.5rem;
    }
    header{
        background-image: url("../Images/woodMedium.jpg");
    }

    .main{
        width: 90%;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 1251px) {
}